.form {
  border-style: inset;
  width: 260px;
  height: 100%;
  border-color: rgb(131, 156, 176);
  margin-top: 20px;
  padding: 10px;
}

.form > button {
  margin-top: 10px;
  width: 100px;
  height: 25px;
  border: none;
  background: rgb(71, 120, 168);
  background: linear-gradient(
    156deg,
    rgba(71, 120, 168, 1) 13%,
    rgba(13, 178, 241, 1) 49%,
    rgba(71, 120, 168, 1) 85%
  );
  color: white;
}

.form > input {
  font-family: "Courier New", Courier, monospace;
  border: none;
  padding: 5px;
}
.form > input:nth-child(2) {
  margin-left: 10px;
}
