.form {
  border-style: inset;
  max-width: 400px;
  height: 100%;
  border-color: steelblue;
  margin-top: 20px;
  padding: 10px;
}

.form > button {
  margin-left: 20px;
  background: rgb(37, 122, 223);
  background: rgb(23, 78, 144);
  background: radial-gradient(
    circle,
    rgba(23, 78, 144, 1) 0%,
    rgba(32, 133, 172, 1) 49%,
    rgba(22, 43, 61, 1) 100%
  );
  color: white;
}

.form > input {
  font-family: cursive;
}
