/* font-family: 'Saira Extra Condensed', sans-serif; */

.container {
  border-style: inset;
  border-color: rgb(8, 129, 159);
  padding: 10px;
}
.form {
  display: flex;
  border-style: inset;
  border-color: rgb(8, 129, 159);
  padding: 10px;
  width: 280px;
  height: 75px;
  margin-top: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form > button {
  margin-top: 10px;
  width: 100px;
  height: 25px;
  border: none;
  background: rgb(71, 120, 168);
  background: linear-gradient(
    156deg,
    rgba(71, 120, 168, 1) 13%,
    rgba(13, 178, 241, 1) 49%,
    rgba(71, 120, 168, 1) 85%
  );
  color: white;
}

.form > input {
  font-family: "Courier New", Courier, monospace;
  border: none;
  padding: 5px;
  float: left;
}
.form > input:nth-child(2) {
  margin-left: 10px;
}
