.list {
  border-style: inset;
  border-color: rgb(169, 192, 238);
  padding: 10px;
  width: 280px;
  height: 100%;
  margin-top: 20px;
  font-family: "Saira Extra Condensed", sans-serif;
  letter-spacing: 2px;
}

.list > ul {
  display: flex;
  width: 100%;
  list-style: none;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  align-content: space-around;
}
.list > ul > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list > ul > div > li {
  display: flex;
  margin: 5px 0;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.btn-red {
  background: rgb(55, 17, 17);
  background: linear-gradient(
    90deg,
    rgba(55, 17, 17, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(78, 24, 24, 1) 100%
  );
  color: white;
  border: none;
  width: 50px;
  height: 25px;
  margin-left: 20px;
}
