.list {
  border-style: inset;
  width: 260px;
  height: 100%;
  border-color: rgb(169, 192, 238);
  margin-top: 20px;
  padding: 10px;
  font-family: cursive;
}

.list > ul {
  display: flex;
  width: 100%;
  list-style: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
  padding: 0;
}

.list > ul > div > li {
  display: flex;
  margin: 5px 0;
}

.btn-red {
  background: rgb(55, 17, 17);
  background: linear-gradient(
    90deg,
    rgba(55, 17, 17, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(78, 24, 24, 1) 100%
  );
  color: white;
  border: none;
  width: 50px;
  height: 25px;
  margin-left: 100px;
}
