.total-summary {
  border-style: inset;
  border-color: rgb(169, 192, 238);
  padding: 10px;
}
.total-summary > div {
  width: 280px;
  height: 100%;
  font-family: "Courier New", Courier, monospace;
  text-align: start;
  font-size: 20px;
  font-weight: 400;
  margin: 15px 0;
}
.total-summary > div > div {
  margin: 10px 0;
}
